################################################################
#                                                              #
# requirements file for opennms-provisioner                    #
#                                                              #
################################################################
#
requests==2.18.4
pyvmomi==6.5.0.2017.5.post1
