################################################################
#                                                              #
# requirements file for opennms-provisioner                    #
#                                                              #
################################################################
#
